.checkbox {
	display: flex;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
}

.checkbox input {
	appearance: none;
}

.checkbox span {
	border-radius: 4px;
	@apply w-4 h-4 flex justify-center items-center bg-white border border-gray-300;
}

.checkbox:hover span {
	@apply border-gray-400;
}

.checkbox.checkbox-checked span {
	@apply bg-indigo-600 border-indigo-600;
}

.checkbox.checkbox-checked:hover span {
	@apply bg-indigo-800 border-indigo-800;
}
